.navbar-brand{
    color: white !important;
    font-weight: 400;
    filter: drop-shadow(0 0 5px blueviolet);
}
.nav-link{
    color: white !important;
    font-weight: 400;
    filter: drop-shadow(0 0 5px blueviolet);
    font-family: Black Ops One !important;
}


.active{
    transform: scale(1.3);
    transition: .5s;
    color: red !important;
}


#collapsibleNavId{
    transition: .5s;
}




